.header-container{
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  max-width: 1000px;
}

.header-container .header .logo img{
  height: 50px;
  width: auto;
}

.header-container .search-container .search-input{
  display: flex;
  align-items: center;
  border: 2px solid #6c757d;
  border-radius: 10px;
  width: 250px;
  height: 45px;
}

.header-container .search-container .search-input .input-container{
  padding-left: 0;
  height: 100%;
}

.header-container .search-container .search-input #icon{
  color: #6c757d;
  margin-right: 5px;
}

.header-container .search-container .search-input .users-container{
  background-color: #FFFFFF;
  position: absolute;
  width: 250px;
  height: 250px;
  top: 70px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.06);
  padding: 0 10px 10px 10px;
  overflow-y: auto;
}

.header-container .search-container .search-input .users-container .user{
  margin-top: 20px;
}

.header-container .search-container .search-input .users-container .user a{
  display: flex;
  align-items: center;
}

.header-container .search-container .search-input .users-container .user img{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
}

.header-container .search-container .search-input .users-container .user label{
  color: #6c757d;
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
}

.header-container .header .user{
  display: flex;
  align-items: center;
}

.header-container .header .user img{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
}

.header-container .header .user-options{
  background-color: #FFFFFF;
  position: absolute;
  width: 250px;
  height: auto;
  top: 70px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.06);
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  margin-left: -210px;
}

.header-container .header .user-options .user{
  border-bottom: 2px solid rgba(108, 117, 125, 0.1);
  padding-bottom: 10px;
}

.header-container .header .user-options .user .name{
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
}

.header-container .header .user-options .user .name label{
  color: #363636;
  font-weight: bold;
}

.header-container .header .user-options .user .name p{
  color: #6c757d;
  font-size: 15px;
}

.header-container .header .user-options button{
  color: #6c757d;
  margin-top: 10px;
  font-size: 16px;
  align-self: flex-start;
}

.header-container .header .user-options button #icon{
  color: #6c757d;
  margin-right: 5px;
}

