.login-page{
  /* background-image: url('../../assets/bg13.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100vw !important;
  height: 100vh !important;
  background-color: red;
  display: fixed;
}
